{% extends "visualri/baseHeaderFooter.html" %} 
{% load static %} 
{% block content%}

<!-- Modal 

<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Result</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<img
					src="{% static 'visualri/images/robot.png'%}"
					alt=""
					style="object-fit: cover; width: 100%"
				/>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark">Download</button>
				<button
					type="button"
					class="btn btn-danger"
					data-dismiss="modal"
				>
					Close
				</button>
			</div>
		</div>
	</div>
</div>


					data-toggle="modal"
					data-target="#exampleModal"

-->

<div class="background" style="background: #e9ecef">
	<div class="container">
		<div class="row">
			<div class="col-2 p-5" style="text-align: center">
				<a href="{% url 'imageInput' %}" class="btn btn-dark">Select Image</a>
			</div>
			<div class="col p-5" style="text-align: center">
				<h1>Select Function</h1>
			</div>
		</div>
		<div class="row" style="align-item: center">
			<div class="col-lg-4 py-3" data-aos="fade-left">
				<div
					class="card p-5"
					style="width: 80%; text-align: center; padding: 20%"
				>
					<h4>Filter</h4>
					<p class="text-muted" style="font-size: 15px">
						Apply filter to the provided image
					</p>
					<br>
					<img
						src="{% static 'visualri\cardImages\main\main\filter.jpg' %}"
						alt=""
						style="width: 100%; object-fit: cover"
					/>
					<br>
					<a
						href="{% url 'filter' %}"
						class="card-link bg-dark"
						style="
							color: #fff;
							font-weight: bold;
							border-radius: 5px;
							border: 2px solid #343a40;
							padding: 7px;
						"
					>
						Try Now
					</a>
				</div>
			</div>
			
			<div class="col-lg-4 py-3" data-aos="fade-right">
				<div class="card p-5" style="width: 80%; text-align: center; padding: 20%">
					<h4>Style Transfer</h4>
					<p class="text-muted" style="font-size: 15px">
						Transfer style on provided image
					</p>
					<br>
					<img
						src="{% static 'visualri\cardImages\main\main\style.jpg' %}"
						alt=""
						style="width: 100%; object-fit: cover"
					/>
					<br>
					<a
						href="{% url 'styleTransfer' %}"
						class="card-link bg-dark"
						style="
							color: #fff;
							font-weight: bold;
							border-radius: 5px;
							border: 2px solid #343a40;
							padding: 7px;
						"
					>
						Try Now
					</a>
				</div>
			</div>
			<div class="col-lg-4 py-3" data-aos="fade-left">
				<div
					class="card p-5"
					style="width: 80%; text-align: center; padding: 20%"
				>
					<h4>Color Map</h4>
					<p class="text-muted" style="font-size: 15px">
						Change colormap of the provided image.
					</p>
					<br>
					<img
						src="{% static 'visualri\cardImages\color\colored\14.jpg' %}"
						alt=""
						style="width: 100%; object-fit: cover"
					/>
					<br>
					<a
						href="{% url 'colorMap' %}"
						class="card-link bg-dark"
						style="
							color: #fff;
							font-weight: bold;
							border-radius: 5px;
							border: 2px solid #343a40;
							padding: 7px;
						"
						>Try Now</a
					>
				</div>
			</div>
		</div>
		<br />
		<br />

	</div>
	{% endblock content %}
</div>
